#mainCanvas, #UICanvas, #starCanvas{
    position: absolute;
    
    width: 100%;
    height:100%;
    
    margin-left: auto;
    margin-right: auto;
}

#mainCanvas{
    z-index: 1;
}

#UICanvas{
    z-index: 2;
}

#starCanvas{
    z-index: 0;
    background-color: black;
}