#startScreen{
    background-color: #999999;
    
    margin-left: auto;
    margin-right: auto;
    
    padding-top: 15px;
    padding-bottom: 15px;
    
    width: 100%;
    
    text-align: center;
}

#down, #left, #right, #up, #space{
    position: absolute;
}

#left{
    left: 37%;
    top: 50%;
}

#right{
    left: 57%;
    top: 50%;
}

#up{
    left: 47%;
    top: 40%;
}

#down{
    left: 47%;
    top: 60%;
}

#space{
    left: 44%;
    top: 50%;
    
    width: 200px;
    height: 100px;
}

#down, #left, #right, #up{
    width: 100px;
    height: 100px;
}

#controlDiv{
    width: 100%;
    text-align: center;
    
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    
    cursor: default;
}

body{
    margin: 0px;
    background-color: #cccccc;
    
    font-family: Century Gothic, sans-serif;
}

h2{
    margin: 0px;
}

table{
    width: 100%;
}
td{
    padding: 20px;
    cursor: pointer;
}